# Node modules
node_modules
npm-debug.log

# Build output
dist
build

# Development files
.vite
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Misc
*.log
*.swp
*.swo
*~
README.md
